<div class="hero-container">
    <div class="hss"></div>
    <img src="/img/logo.png" class="hero-logo" />
    <p class="hero-label">SvinChat</p>
    <div class="hss"></div>
    <form action="/login">
        <input type="submit" value="LOGIN" class="button" />
    </form>
    <div class="hss"></div>
    <form action="/register">
        <input type="submit" value="REGISTER" class="button" />
    </form>
</div>