<div class="container">
    <img src="/img/logo.png" class="login-logo" />
    <p class="login-label">SvinChat</p>
    <div class="hs"></div>
    <form method="POST" action="/login">
        <input type="text" placeholder="Nickname" class="text-input" />
        <div class="hs"></div>
        <input type="password" placeholder="Password" class="text-input" />
        <div class="hs"></div>
        <input type="submit" value="LOGIN" class="button" />
    </form>
</div>