<div class="login-container">
    <div class="hss"></div>
    <img src="/img/logo.png" class="login-logo" />
    <p class="login-label">SvinChat</p>
    <div class="hss"></div>
    <form method="POST" action="/login">
        <p class="input-hint">Nickname</p>
        <input type="text" class="text-input" />
        <div class="hss"></div>
        <p class="input-hint">Password</p>
        <input type="password" class="text-input" />
        <div class="hsm"></div>
        <input type="submit" value="LOGIN" class="button" />
        <div class="hsl"></div>
    </form>
</div>