<div class="container">
    <img src="/img/logo.png" class="register-logo" />
    <p class="register-label">SvinChat</p>
    <div class="hs"></div>
    <form method="POST" action="/register">
        <input type="text" placeholder="Nickname" class="text-input" />
        <div class="hs"></div>
        <input type="password" placeholder="Password" class="text-input" />
        <div class="hs"></div>
        <input type="password" placeholder="Repeat Password" class="text-input" />
        <div class="hs"></div>
        <input type="submit" value="REGISTER" class="button" />
    </form>
</div>