<div class="register-container">
    <div class="hss"></div>
    <img src="/img/logo.png" class="register-logo" />
    <p class="register-label">SvinChat</p>
    <div class="hss"></div>
    <form method="POST" action="/register">
        <p class="input-hint">Nickname</p>
        <input type="text" class="text-input" />
        <div class="hss"></div>
        <p class="input-hint">Password</p>
        <input type="password" class="text-input" />
        <div class="hss"></div>
        <p class="input-hint">Repeat Password</p>
        <input type="password" class="text-input" />
        <div class="hsm"></div>
        <input type="submit" value="REGISTER" class="button" />
        <div class="hsl"></div>
    </form>
</div>