* {
    margin: 0;
    padding: 0;
}

html {
    color: #FFF;
    background-color: #111;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
}

.hs {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 16px;
}

.vs {
    display: block;
    box-sizing: border-box;
    width: 16px;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    width: 300px;
    margin: auto auto;
}

.error-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 16px;
}

.hero-logo {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 66%;
    height: 66%;
}

.hero-label {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 24pt;
    font-weight: 700;
}

.auth-logo {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 50%;
    height: 50%;
}

.auth-label {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20pt;
    font-weight: 700;
}

.button {
    display: block;
    width: 100%;
    aspect-ratio: 4 / 1;
    border: none;
    border-radius: 4px;
    color: #FFF;
    background-color: #50A0F0;
    font-size: 16pt;
    font-weight: 700;
}

.button:focus {
    color: #EEE;
    background-color: #4595E5;
    outline-color: #70C0F0;
    outline-width: 2px;
}

.button:hover {
    color: #EEE;
    background-color: #4595E5;
}

.button:active {
    color: #CCC;
    background-color: #3585D5;
}

.text-input {
    display: block;
    margin: auto;
    width: 100%;
    aspect-ratio: 4 / 1;
    border: none;
    border-radius: 4px;
    background-color: #FFF;
    font-size: 16pt;
    font-weight: 700;
}

.text-input::placeholder {
    color: #777;
}

.text-input:focus {
    background-color: #FFF;
    outline-color: #70C0F0;
    outline-width: 2px;
}

.chats-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.chats-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 64px;
}

.chat-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.chat-title {
    margin: auto;
    font-size: 18pt;
    font-weight: 700;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout img {
    width: 66%;
}

@media screen and (max-width: 600px) {
    .hs {
        height: 12px;
    }
    
    .vs {
        width: 12px;
    }
    
    .container {
        width: 256px;
    }
    
    .hero-label {
        font-size: 20pt;
    }

    .auth-label {
        font-size: 18pt;
    }

    .button {
        font-size: 12pt;
    }

    .text-input {
        font-size: 12pt;
    }
}

@media screen and (max-width: 400px) {
    .hs {
        height: 10px;
    }
    
    .vs {
        width: 10px;
    }
    
    .container {
        width: 192px;
    }
    
    .hero-label {
        font-size: 18pt;
    }

    .auth-label {
        font-size: 16pt;
    }

    .button {
        font-size: 10pt;
    }

    .text-input {
        font-size: 10pt;
    }
}

@media screen and (max-width: 240px) {
    .hs {
        height: 8px;
    }
    
    .vs {
        width: 8px;
    }

    .container {
        width: 128px;
    }
    
    .hero-label {
        font-size: 16pt;
    }

    .auth-label {
        font-size: 14pt;
    }

    .button {
        font-size: 8pt;
    }

    .text-input {
        font-size: 8pt;
    }
}
