<div class="chats-container">
    <div class="chats-header">
        <span class="chat-title">Chats</span>
        <a href="/logout" class="logout">
            <img src="/img/logout.png" class="logout" />
        </a>
    </div>
    <div class="chat-list">

    </div>
</div>