<div class="container">
    <img src="/img/logo.png" class="auth-logo" alt="SvinChat logo" />
    <p class="auth-label">SvinChat</p>
    <div class="hs"></div>
    <form method="POST" action="/login">
        <input type="text" name="username" placeholder="Nickname" class="text-input auth-input" required />
        <div class="hs"></div>
        <input type="password" name="password" placeholder="Password" class="text-input auth-input" required />
        <div class="hs"></div>
        <input type="submit" value="LOGIN" class="button" />
    </form>
</div>
<a href="/" class="back-button">
    <img src="/img/back.png" alt="Home page" />
</a>