<div class="container">
    <img src="/img/logo.png" class="auth-logo" />
    <p class="auth-label">SvinChat</p>
    <div class="hs"></div>
    <form method="POST" action="/register">
        <input type="text" name="username" placeholder="Nickname" class="text-input" required />
        <div class="hs"></div>
        <input type="password" name="password" placeholder="Password" class="text-input" required />
        <div class="hs"></div>
        <input type="submit" value="REGISTER" class="button" />
    </form>
</div>